<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/semantic.min.css"/>
    <link rel="stylesheet" href="/style.css">
    <title>Pictue Upload</title>

    <favicon />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ff0000">
</head>
<body>
    <div class="form-container">
        <form id="uploadForm" class="ui form" action="/upload" method="post" enctype="multipart/form-data">
            <h4 class="ui dividing header">FCR Upload Pictures</h4>
            
            <!-- the form  -->
            <div class="field" id="equipmentIdField">
                <label>Enter Equipment ID</label>
                <input autocomplete="off" type="text" name="equipmentId" id="equipID" placeholder='Example: "AIXZ477321"'>
            </div>
            
            <div class="file-drop-area before-area">
                <label>Before Pictures</label>
                <button type="button" class="ui button" onclick="document.getElementById('beforePic').click()">Choose Photos</button>
                <input type="file" id="beforePic" name="beforePic[]" accept="image/*" multiple class="file-input">
                <div class="thumbnails" id="beforePicThumbnails"></div>
            </div>

            <div class="file-drop-area after-area">
                <label>After Pictures</label>
                <button type="button" class="ui button" onclick="document.getElementById('afterPic').click()">Choose Photos</button>
                <input type="file" id="afterPic" name="afterPic[]" accept="image/*" multiple class="file-input">
                <div class="thumbnails" id="afterPicThumbnails"></div>
            </div>

            <!-- Error  -->
            <div id="errorMessage" class="ui error message" style="display:none;"></div>
            
            <!-- Loading -->
            <div id="loadingIndicator" class="ui active inverted dimmer" style="display:none;">
                <div class="ui text loader">Loading...</div>
            </div>

            <!-- submit  -->
            <button id="submitBtn" class="ui button" type="button">Submit</button>
        </form>
    </div>
    <script src="/jquery-3.7.1.min.js"></script>
    <script src="/semantic.min.js"></script>
    <script src="/script.js"></script>
</body>
</html>